# Output directories
lib
es
build

# Nyc (test coverage) files
coverage
.nyc_output

# Npm + yarn files
node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
npm-debug.log*
npm-error.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
lerna-error.log*

# Task-runner and lint caches
.cache
.eslintcache

# Ignore dotenv files
.env

# Agentic directories
.pi