{
    "include": [
        "**/src/**/*.js",
        "**/src/**/*.jsx",
        "**/src/**/*.ts",
        "**/src/**/*.tsx"
    ],
    "exclude": ["management-console/src/**"],
    "parserPlugins": [
        "asyncGenerators",
        "bigInt",
        "classProperties",
        "classPrivateProperties",
        "classPrivateMethods",
        "dynamicImport",
        "importMeta",
        "numericSeparator",
        "objectRestSpread",
        "optionalCatchBinding",
        "topLevelAwait",
        "typescript",
        "jsx"
    ],
    "reporter": ["lcov", "text-summary", "html", "json"],
    "extension": [".js", ".jsx", ".ts", ".tsx"]
}
